<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full bg-white">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="impact-site-verification" value={System.get_env("IMPACT_CODE")} />
    <.live_title suffix=" · VisualGarden">
      <%= assigns[:page_title] || "VisualGarden" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js">
    </script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js">
    </script>
  </head>
  <body class="bg-white antialiased h-full">
    <%= @inner_content %>
  </body>
</html>
